.data-background-home{
    background-image: url("../../img/hero/h1_hero.jpg");
}
.weightImage{
    width: 356px;
    height: auto;
}
.th-89{
    font-family: "Playfair Display", serif;
}
.th-89:active,.th-89:active:focus,.th-89:target,.th-89:focus{
    border:none;
    box-shadow: none !important;
}
.th-89::after{
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}


  .form-box1{
      position: relative;
      width: 300px !important;
      transform: translate(-388px,-72px);
  }
  .th-99{
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
  }
  .search-icon{
    position: absolute;
    top: 12px;
    right: 17px;
  }
  .search-icon i{
    color: #6c6a6a;
    cursor: pointer;
  }
  